body{

}

div#body{
z-index:2;}

img#back{
width:100%;
position: absolute;
top:0;
left:0;
min-height:700px;
min-width:1000px;
z-index:-2;}
img.nav{
position:absolute;
left:40px;
width:160px;}
img#home{
top:250px;
}
img#about{
top:300px;
}
img#events{
top:350px;
}
img#media{
top:400px;
}
img#eboard{
top:450px;
}
img#contact{
top:500px;
}
img#login{
position:absolute;
top:130px;
left:882px;
width:160px;
}
div#base{
position:absolute;
top:160px;
left:240px;
width:800px;
min-width:700px;
min-height:500px;
background-image:url('theme/base.jpg');
background-repeat:no-repeat;
opacity:0.30;
filter:alpha(opacity=30);
z-index:-1;
}

div#content {
position:absolute;
top:180px;
left:280px;
z-index:2;
}
p{opacity:1.0;
filter:alpha(opacity=100);}

a{border:none;}